.header{
    width: 100%;
    height: 70px;
    background:linear-gradient(to bottom, #354399,#729ce3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 40px  0 20px;

    .inside{
      height : 60px;
    }

    &__logo{
        height: 100%;
    }

    &__name{
         font-family: 'ZCOOL KuaiLe', cursive;
         color: white;
         font-size: 50px;
         padding-left: 15px;
    }
  &__account{
      color: white;
      cursor: pointer;
      font-size: 20px;
  }
}