<div class="header">
  <div class="inside">
  <img class="header__logo" src="assets/logo.png" alt="">
 <span class="header__name">Time Tracker</span>
</div>

<i class="far fa-user header__account" ></i>
</div>

<router-outlet></router-outlet>