.home{
    width: 100%;
    height: calc(100vh - 70px);
    box-sizing: border-box;
    padding: 20px 20px;
    position: relative;

    &__text{
        font-style: italic;
        font-size: 22px;
      line-height: 32px;
        width: 60%;
        color: black;
        position: relative;
        z-index: 2;
        text-align: justify;
        margin-top: 50px;
        margin-left: 100px;
    }

    &__clock{
        color: lightgreen;
        font-size: 250px;
        font-weight: bolder;
        font-style: italic;
        position: absolute;
        z-index: 1;
        right: 40px;
        top: 60px;
    }
}