<div class="home">
    <div class="home__text">Cavefish telescopefish freshwater eel seatrout kaluga deepwater flathead barracuda long-finned pike. Algae eater Atlantic salmon yellowtail clownfish gianttail staghorn sculpin; alfonsino bowfin handfish Blind goby píntano topminnow.

            Squeaker pineconefish bandfish sergeant major gar leopard danio scaly dragonfish, Rio Grande perch North Pacific daggertooth. Ziege bristlenose catfish, huchen catalufa African glass catfish sailfish treefish kanyu. Warbonnet wrymouth threadfin bream whale catfish zebra turkeyfish tadpole cod European flounder staghorn sculpin telescopefish, inanga deep sea anglerfish. Yellowfin grouper American sole boxfish sole plunderfish, clownfish orange roughy warty angler. Ponyfish flagblenny platy chimaera fire bar danio sea bream orangespine unicorn fish! Lemon shark sea catfish emperor; goosefish, chain pickerel crucian carp freshwater shark. Ayu catla. Freshwater herring triplefin blenny, lagena, carpetshark, "slender snipe eel."
            
            Squirrelfish; gurnard sergeant major streamer fish Mexican golden trout, "opaleye," long-finned char river loach bonytail chub ilisha flagtail kahawai angler longfin dragonfish. Sailfish Canthigaster rostrata, armored searobin, "catla Mexican golden trout," flagfin mola redtooth triggerfish mola spiderfish saber-toothed blenny red velvetfish. Buffalofish pirate perch Black scabbardfish false trevally hillstream loach vimba redtooth triggerfish canary rockfish skilfish? Cepalin; sailback scorpionfish Dolly Varden trout squaretail spookfish Rainbow trout brotula dottyback, "Red whalefish pencilfish, whitetip reef shark." Kanyu poacher blue shark tubeblenny, trout-perch, platyfish Pacific viperfish: kelp perch lake chub European flounder; bigscale, Owens pupfish? Tigerperch, climbing gourami sucker false moray, blue catfish Moorish idol kokopu. Thorny catfish rice eel bull shark bonytongue mojarra x-ray tetra Siamese fighting fish pumpkinseed cuchia kokanee deepwater stingray. Chimaera straptail straptail emperor bream shortnose greeneye sheepshead minnow: three-toothed puffer glowlight danio cod garden eel pollock.</div>
    <div class="home__clock" *ngIf="currentTime">{{ currentTime | clock }}</div>
</div>